<div class="col-lg-4">
    <div class="team-item">
        <div class="thumb">
            <div class="hover-effect">
                <div class="inner-content">
                    <ul>
                        <li><a href="#details" style="width: 100px;">Details</a></li>
                    </ul>
                </div>
            </div>
            <img src="/images/team-member-01.jpg" />
        </div>
        <div class="down-content">
            <h4>Item</h4>
            <span>Short description</span>
            <h6>Price</p>
        </div>
    </div>
</div>