<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="images/logo.png" style="width: 120px">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="/catalog/men">Men's</a></li>
                        <li class="scroll-to-section"><a href="/catalog/women">Women's</a></li>
                        <li class="scroll-to-section"><a href="/contacts">Contacts</a></li>
                        <li class="scroll-to-section"><a href="/login">Login</a></li>
                        <li class="scroll-to-section"><a href="/register">Register</a></li>
                    </ul>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" style="margin: 0 auto;">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content" style="text-align: center">
                            <h4>We Are <i>Neat Fashion</i></h4>
                            <span style="font-size: 20px">Be awesome. Be neat.</span>
                            <div class="main-border-button">
                                <a href="/catalog/women" style="margin-right: 10px;">Women</a>
                                <a href="/catalog/men" style="margin-left: 10px;">Men</a>
                            </div>
                        </div>
                        <img src="images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Men Area Starts ***** -->
<section class="section" id="men" style="margin: 0 auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Men's Latest</h2>
                    <span>Details to details is what makes <b>Neat Fashion</b> different from the other brands.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                {{> homeListItem}}

            </div>
        </div>
    </div>
</section>
<!-- ***** Men Area Ends ***** -->

<!-- ***** Women Area Starts ***** -->
<section class="section" id="women" style="margin: 0 auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Women's Latest</h2>
                    <span>Details to details is what makes <b>Neat Fashion</b> different from the other brands.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                {{> homeListItem}}

            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<!-- ***** Women Area Ends ***** -->

<!-- ***** Social Area Starts ***** -->
<section class="section" id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Trends</h2>
                    <span>Details to details is what makes <b>Neat Fashion</b> different from the other brands.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row images">
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Fall</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="images/instagram-01.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Winter</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="images/instagram-02.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Spring</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="images/instagram-03.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Summer</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="images/instagram-04.jpg" alt="">
                </div>
            </div>
            {{!-- <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Leather</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="images/instagram-05.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Bag</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="images/instagram-06.jpg" alt="">
                </div>
            </div> --}}
        </div>
    </div>
</section>
<!-- ***** Social Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
{{!-- <div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                    <span>Details to details is what makes Neat Fashion different from the other brands.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                    placeholder="Your Email Address" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button"><i
                                        class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Store Location:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>
                            <li>Phone:<br><span>010-020-0340</span></li>
                            <li>Office Location:<br><span>North Miami Beach</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                            <li>Email:<br><span>neatfashion@company.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a
                                        href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- ***** Subscribe Area Ends ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row" style="justify-content: space-between">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="images/white-logo.png" alt="neatfashion ecommerce" style="width: 130px">
                    </div>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                        <li><a href="#">neatfashion@company.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="/catalog/men">Men’s Shopping</a></li>
                    <li><a href="/catalog/women">Women’s Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                </ul>
            </div>
            {{!-- <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div> --}}
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2024 NeatFashion Co., Ltd. All Rights Reserved.

                        <br>Design: <a href="https://templatemo.com" target="_blank"
                            title="free css templates">TemplateMo</a>
                    </p>
                    <ul>
                        <li><a href="#fb-neat-fashion"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#twitter-neat-fashion"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#linkedin-neat-fashion"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>