    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading men-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Men’s <i>Neat</i></h2>
                        <span style="font-size: 20px">Be awesome. Be neat.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Men's choice</h2>
                        <span>Details to details is what makes <b>Neat Fashion</b> different from the other brands.</span>
                    </div>
                </div>

                {{> catalogListItem}}

            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->