<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Login</h2>
                    <span style="font-size: 20px">Be awesome. Be neat.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="margin: 0 auto;">
                <div class="section-heading" style="margin-bottom: 20px;">
                    <h2>Some text</h2>
                    <span>Details to details is what makes <b>Neat Fashion</b> different from the other brands.</span>
                </div>
                <form id="login" action="" method="post">
                    <div class="row" style="display: block;">
                        <div class="col-lg-6" style="margin: 10px 0;">
                            <fieldset>
                                <input name="email" type="text" id="email" placeholder="Your email" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-6" style="margin: 10px 0;">
                            <fieldset>
                                <input name="password" type="password" placeholder="Your password" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12" style="margin: 10px 0;">
                            <fieldset>
                                <button type="submit" id="form-submit" style="width: 100px;">Login</button>
                        </div>
                        <div class="section-heading" style="margin: 10px 0;">
                            <span style="padding-left: 15px;">If you don't have an account&nbsp;<a href="/auth/register"
                                class="redirect-btn">Register</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->